<form >
<legend>
    New Post
</legend>
    <div class="form-group">
        <label for="my-input">Title</label>
        <input id="title" [(ngModel)]="post.title"  class="form-control" name="title" type="text" placeholder="title" >
    </div>

<div class="form-group">
        <label for="my-input">body</label>
        <textarea id="id" [(ngModel)]="post.body"  class="form-control" name="body" type="text" placeholder="body" ></textarea>
    </div>

    <button class="btn btn-primary" (click)="createPost()" *ngIf="status"  type="button">add</button>
    <button class="btn btn-success" (click)="updatePost()" *ngIf="!status"  type="button">Update</button>
    
    
</form>

<ul class="list-group">
   <li  class="list-group-item"  *ngFor="let post of posts">
    <h6>{{post.title}}</h6>
    <p>{{post.body}}</p>

    <div align="right">
        <button type="button" class="btn btn-warning" (click)="editPost(post)"   >Edit</button>
        <button type="button" class="btn btn-danger" (click)="deletePost(post)"   >delete</button>

    </div> 
   
   </li>
  
</ul>